@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji|Lobster|Open+Sans|Pacifico|Permanent+Marker|Source+Sans+Pro');
body {
    font-family: "source sans pro", Times, sans-serif;
}
img {
    max-width: 100%;
}
#content {
    width: 100%;
    margin: 0 auto;
}
nav {
    color: white;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
}
nav li {
    flex: 1 0 7em;
}
h2 ul {
    display: flex;
    flex-flow: row wrap;
    color: white;
}
h2 li {
    flex: 1 0 9em;
    text-align: left;
    margin-top: -7em;
    font-size: 110%;
}
#logo {
    text-align: center;
    width: 150px;
}
#top-row {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
#middle-row {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
#bottom-row {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #246764;
}
#top-row > div,
#middle-row > div {
    flex: 1 0 15em;
    padding: .5em;
}
#top-row img,
#middle-row img,
#top-picture img,
#what-to-bring img {
    width: 100%;
}
p2 {
    color: #2F4471;
    font-family: "permanent marker", times, serif;
}
section {
    padding: 15px;
}
h1,
h2,
h3,
h4 {
    color: #AA6C3B;
    font-family: "Permanent marker", Times, serif;
    font-size: 210%;
}
p3 {
    color: white;
    font-size: 400%;
}
p {
    color: ghostwhite;
    line-height: 1.5;
}
h2 {
    margin-bottom: 5px;
}
a {
    color: #AA6C3B;
    text-decoration: none;
}
#pic {
    text-align: center;
}
.green-box {
    background-color: #246764;
}
.blue-box {
    background-color: #2F4471;
}
#top-picture {
    width: 100%;
}
#food,
#kid-friendly,
#water {
    flex-direction: row;
    flex-flow: row wrap;
    flex: 1 0 15em;
    padding: .5em;
}
#sun,
#fun {
    flex-flow: row wrap;
    flex: 1 0 15em;
    padding: .5em;
}
#what-to-bring {
    width: 200%;
}
.food {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
3
